body {
    margin: 0;
    font-family: Tahoma;
    text-align: center;
    background: #f5f5f5;
}

header {
    padding: 80px 20px;
    background: #2d89ef;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #fff;
    color: #2d89ef;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    font-size: 18px;
}

.extra {
    padding: 40px 20px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
}

.extra-img {
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
}
